body {
    background-color: <++>;
}

h1 {
    color: <++>;
    text-align: center;
}

.wrap {
    width: 90%;
    margin: auto;
}

a:visited {
    text-decoration: none;
}
a:link {
    text-decoration: none;
}

